
body{
    text-align:center;

    padding-top: 50px;
    padding-bottom: 100px;
    background-color: rgb(27, 53, 65);
    color: white;
    max-width: 600px;
    margin: auto;
    font-family: fantasy;
}

p{
    line-height: 1.8;
}

article + article {
    margin-top: 3rem;
    padding-top: 3rem;
    border-top: 1px solid rgb(129, 162, 195);
}

h3{
    margin-top: 80px;

    text-align: left;
}

a{
    text-decoration: wavy;
    color: aliceblue;

}