
body{
    text-align:center;

    padding-top: 0px;
    padding-bottom: 100px;
    background-color: rgb(0, 0, 0);
    color: rgb(15, 255, 195);
    max-width: 600px;
    margin: auto;
    font-family: fantasy;
}

p{
    line-height: 1.8;
}

article + article {
    margin-top: 3rem;
    padding-top: 3rem;
    border-top: 1px solid rgb(129, 162, 195);
}
h1{
    color: rgb(107, 160, 207);
}
h3{
    margin-top: 80px;

    text-align: left;
}

a{
    text-decoration: wavy;
    color: rgb(119, 192, 255);

}